body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  color: #6b5e45;
  background: #eceae3;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
textarea::placeholder {
  color: #add8e6;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.l-column-title {
  height: 3.4rem;
  line-height: 3.4rem;
}
.l-column-title a {
  display: block;
  border-bottom: #000 solid 2px;
}
.l-column-title span {
  font-size: 1.8rem;
  padding-right: 3rem;
  font-weight: bold;
}
.ui-btn-more {
  padding: 10px 0 0 0;
}
.ui-btn-more a {
  display: block;
  margin: 0 auto;
  width: 96%;
  background: #ca282f;
  border-radius: 8px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  height: 44px;
  line-height: 44px;
  border: none;
}
input::-webkit-input-placeholder {
  color: #000 !important;
}
input:-moz-placeholder {
  color: #000 !important;
}
input::-moz-placeholder {
  color: #000 !important;
}
input:-ms-input-placeholder {
  color: #000 !important;
}
.ui-textarea {
  display: block;
  max-width: 100%;
  min-height: 4rem;
  border: #000 solid 1px;
  background: #ffed89;
  text-indent: 4px;
}
.ui-file-btn {
  background: none;
  width: 80px;
  height: 3rem;
}
#gotoTop {
  position: fixed;
  bottom: 55px;
  right: 5px;
  z-index: 9999;
  display: none;
  width: 20px;
  margin-top: -50px;
  margin-left: 520px;
  padding: 9px 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fff;
}
#gotoTop.hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}
.u-logo {
  width: 10rem;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  color: #fefefe;
  font-size: 1.6rem;
  word-break: keep-all;
  white-space: nowrap;
}
.u-top-tit {
  width: 10rem;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  color: #fefefe;
  font-size: 1.6rem;
  word-break: keep-all;
  white-space: nowrap;
}
.u-user-centent {
  width: 1.7rem;
  height: 44px;
  text-indent: -99999px;
  background: url(../../images/btn-menu.png) center center no-repeat;
  background-size: contain;
  z-index: 999;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -24px;
}
.u-icon-search {
  width: 1.7rem;
  height: 44px;
  text-indent: -99999px;
  background: url(../../images/btn-search.png) center center no-repeat;
  background-size: contain;
  z-index: 999;
  display: inline-block;
  position: absolute;
  right: 44px;
  top: 50%;
  margin-top: -24px;
}
.ui-tiled a {
  font-size: 1.5rem;
}
.ui-tiled .active {
  color: #FFE501;
}
.bg-h1 {
  background: #eceae3;
}
.bg-hs {
  background: #000;
}
.bg-bs {
  background: #fff;
}
.fz12 {
  font-size: 1.2rem;
}
.fz14 {
  font-size: 1.4rem;
}
.fz15 {
  font-size: 1.5rem;
}
.fz16 {
  font-size: 1.6rem;
}
.fz18 {
  font-size: 1.8rem;
}
.fz20 {
  font-size: 2rem;
}
.fz24 {
  font-size: 2.4rem;
}
.fc-h {
  color: #ff0000;
}
.fc-0 {
  color: #000 !important;
}
.fc-y {
  color: #ffe501 !important;
}
.fwb {
  font-weight: bold;
}
.taxt-i14 {
  text-indent: 14px;
}
.touchweb-page {
  min-width: 320px;
  max-width: 670px;
  margin: 0 auto;
}
.dis {
  display: block;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb35 {
  margin-bottom: 35px;
}
.mr8 {
  margin-right: 8px;
}
.plr8 {
  padding-left: 8px;
  padding-right: 8px;
}
.plr4 {
  padding-left: 4px;
  padding-right: 4px;
}
.ptb4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.ptb8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pd10 {
  padding-bottom: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pl5 {
  padding-left: .5rem;
}
.textc {
  text-align: center !important;
}
.textl {
  text-align: left !important;
}
.textr {
  text-align: right !important;
}
.bb {
  border-bottom: #000 solid 1px !important;
}
.ui-table {
  font-size: 1.4rem;
}
.ui-table-border {
  border: #000 solid 1px;
}
.tableimg {
  max-width: 6rem;
  padding: .5rem 0;
}
.tabletitle {
  font-size: 1.6rem;
  padding: .5rem 0 .5rem .5rem;
  font-weight: bold !important;
  text-align: left !important;
}
.l-nav-box {
  padding: 1rem;
  text-align: center;
}
.l-nav-box p {
  font-size: 1.4rem;
}
.l-nav-box .family i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-family.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .guarantee i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-guarantee.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .visit i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-visit.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .assess i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-assess.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .aid i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-aid.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .abnormal i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-abnormal.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .pharmacy i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-pharmacy.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .hospital i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-hospital.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .client i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-client.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .goods i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-goods.png) top center no-repeat;
  background-size: contain;
}
.l-nav-box .advise i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../../images/ic-advise.png) top center no-repeat;
  background-size: contain;
}
.m-list li {
  margin: 1rem 0.6rem;
  background: #fff;
  border-radius: 8px;
}
.m-list li h4 {
  text-align: center;
  color: #678824;
  font-size: 1.8rem;
}
.m-list p {
  font-size: 1.2rem;
}
.m-list-nor {
  display: block;
  padding: 0.2rem 1rem;
}
.m-list-nor .m-li-tit {
  font-size: 1.4rem;
  color: #55524e;
  margin-right: 8px;
}
.m-list-nor .m-w-50 {
  display: block;
  width: 50%;
}
.m-list-hov {
  display: block;
  padding: 0.2rem 1rem;
}
.m-list-hov .m-li-tit {
  font-size: 1.4rem;
  color: #55524e;
  margin-right: 8px;
}
.m-list-hov a {
  width: 3rem;
  height: 3rem;
  text-indent: -99999px;
  background: url(../../images/btn-next.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 998;
  display: inline-block;
  right: 10px;
  top: 36%;
}
.u-info {
  display: block;
  background: #fff;
  border-radius: 8px;
  margin: 1rem 0.6rem;
  padding: 1rem 1rem;
}
.u-info li {
  margin-bottom: 1rem;
}
.u-info li > p {
  font-size: 1.2rem;
}
.u-info li .info-tit {
  font-size: 1.6rem;
  color: #55524e;
  margin-right: 8px;
}
.u-search {
  display: block;
  overflow: hidden;
}
.u-search .ui-form-item {
  margin-bottom: 1rem;
}
.u-search label {
  padding-right: 10px;
}
.u-search input {
  display: inline-block;
  padding-left: 4px;
  width: 70%;
  background: #fff;
  height: 3rem;
  line-height: 3rem;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #7aac38;
}
.u-search .ui-select {
  margin-right: -6px;
  width: 70%;
}
.u-search select {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #7aac38;
}
.u-search .time-input input {
  width: 7rem !important;
  margin-left: 0;
  color: #7AAC38;
}
.u-search .time-input span {
  margin: 0 10px;
}
.u-search .mgl95 {
  margin-left: 95px;
}
.u-search .btn-search a {
  background: #ca282f;
  color: #fff;
  border-radius: 8px;
  font-size: 1.6rem;
  display: block;
  width: 96%;
  margin: 0 auto;
  height: 44px;
  line-height: 44px;
  border: 0;
  text-align: center;
}
.bghuang {
  background: #fbf7eb;
}
.logo-lg {
  text-align: center;
  margin: 1.6rem auto;
}
.logo-lg img {
  width: 40%;
  height: 40%;
}
.logo-lg p {
  font-size: 3rem;
}
.login {
  margin: 10px auto;
  width: 96%;
}
.login .login-item {
  height: 44px;
  line-height: 44px;
  background: #84b845;
  display: block;
  margin: 10px auto;
  font-size: 1.6rem;
  border-radius: 8px;
}
.login .login-item label {
  border-radius: 8px;
  display: block;
  width: 44px;
  height: 44px;
}
.login .login-item input {
  background: none;
  display: inline-block;
  padding-left: 8px;
  color: #fff;
  height: 44px;
  line-height: 44px;
  border: 0;
}
.login .login-item ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff !important;
}
.login .login-item :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
}
.login .login-item ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff !important;
}
.login .login-item :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff !important;
}
.login .login-item .icon-name {
  background: #7aa745 url(../../images/icon-name.png) center no-repeat;
  background-size: 50%;
}
.login .login-item .icon-key {
  background: #7aa745 url(../../images/icon-key.png) center no-repeat;
  background-size: 50%;
}
.login .login-btn a {
  background: #ca282f;
  color: #fff;
  border-radius: 8px;
  font-size: 1.6rem;
  display: block;
  margin: 10px auto;
  height: 44px;
  line-height: 44px;
  border: 0;
  text-align: center;
}
.login .login-link {
  margin-top: 8px;
}
.login .login-link a {
  font-size: 1.6rem;
  color: #7aac38;
}
